<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
    <style>
        .completed {
            text-decoration: line-through;
        }
        .selected {
            color: red;
        }
        .empty {
            border: 1px solid red;
        }
    </style>
    <!-- Vue 2.x  Todo List   -->
    <!-- <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script> -->
    <script src="js/vue.js"></script>
</head>

<body>
    <!-- Vue 2.x Todo 教程
    https://www.zmrenwu.com/courses/vue2x-todo-tutorial/ -->
    <div id="todo-app">
        <div>
            <input type="button" value="全部标为完成" @click="markAllAsCompleted"  v-if="todos.length || recycleBin.length" />
            <input type="text" placeholder="添加 todo" v-model="newTodoTitle" @keyup.enter="addTodo"
                v-bind:class='{empty:emptyChecked}' />
            <span v-if='emptyChecked' style="color:red">请输入内容！</span>
            <input type="button" value="Submit" @click="addTodo" />
        </div>


        <!-- todo list -->

        <ul>
            <li v-for='todo in filteredTodos' :key='todo.id'>
                <span :class='{completed:todo.completed}' @dblclick="editdTodo(todo)">{{todo.title}}</span>
                <input type="button" v-if="!todo.completed" value="标为完成" @click="markAsCompleted(todo)">
                <input type="button" v-if="todo.completed" value="标为未完成" @click="markAsUncompleted(todo)">
                <input v-if="todo.removed" type="button" value="还原" @click="restoreTodo(todo)">
                <input v-else="todo.removed" type="button" value="删除" @click="removeTodo(todo)">

                <input type="text" value="编辑 todo..." v-if="editedTodo !== null && editedTodo.id === todo.id"
                    v-model="todo.title" v-focus="true" @keyup.enter="editDone(todo)" @keyup.esc="cancelEdit(todo)" />

            </li>


        </ul>
        <br>

        <input type="button" value="撤销" v-if="hasRemovedTodo" @click="restoreTodo()">
        <!-- end todo list -->

        <p>&nbsp;</p>


        <div>
            <span v-if="leftTodosCount">剩余 {{leftTodosCount}} 项未完成 ---</span>
            <span v-else-if="completedTodosCount">全部完成, 继续加油!</span>
            <span v-else>添加我的第一个todo</span>
            <span  v-if="todos.length || recycleBin.length">筛选：
                <input type="button" value="全部" :class="{selected: intention === 'all'}" @click="intention ='all'">
                <input type="button" value="进行中" v-if="leftTodosCount" :class="{selected: intention === 'ongoing'}"
                    @click="intention ='ongoing'">
                <input type="button" value="已完成" v-if="completedTodosCount"
                    :class="{selected: intention === 'completed'}" @click="intention='completed'">>
                <input type="button" v-if="leftTodosCount" value="全部标为已完成" @click="markAllAsCompleted">

                <input type="button" value="清除已完成" v-if="completedTodosCount" @click="clearCompleted">
                <input type="button" value="清除全部" @click="clearAll">
                <input type="button"
                v-if="recycleBin.length"
                value="回收站"
                @click="intention='removed'"/>
            </span>

        </div>




    </div>

    <script>
        // localStorage 存储数据

        var STORAGE_KEY = 'vue2.x-todo-tutorial';
        var todoStorage = {
            fetch: function () {
                var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
                todos.forEach(function (todo, index) {
                    todo.id = index;
                });
                todoStorage.uid = todos.length;
                return todos
            },
            sava: function (todos) {
                localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
            }
        }
    </script>

    <script>
        let id = 0;
        var app = new Vue({
            el: '#todo-app',
            data: function () {
                return {
                    todos: todoStorage.fetch(),
                    newTodoTitle: '',
                    editedTodo: null,
                    intention: 'all', //默认为 all
                    checkEmpty: false,
                    recycleBin:[],
                }
            },
            // 监测 todos 列表的变化，将变化存储到 local storage
            watch: {
                todos: {
                    handler: function (todos) {
                        todoStorage.sava(todos)
                    },
                    deep: true
                }
            },
            methods: {
                addTodo: function () {
                    if (this.newTodoTitle === '') {
                        this.checkEmpty = true;
                        return
                    }
                    this.todos.push({
                        id: todoStorage.uid++,
                        title: this.newTodoTitle,
                        completed: false,
                        removed: false
                    });
                    this.newTodoTitle = '';
                    this.checkEmpty = false;

                },
                markAsCompleted: function (todo) {
                    todo.completed = true;
                },
                markAsUncompleted: function (todo) {
                    todo.completed = false
                },
                markAllAsCompleted: function () {
                    this.todos.map(function (todo) {
                        if (!todo.completed) {
                            todo.completed = true
                        }
                    })
                },
                removeTodo: function (todo) {
                    let removedTodo = this.todos.splice(this.todos.indexOf(todo),1)[0];
                    removedTodo.removed = true;
                    this.recycleBin.unshift(removedTodo);
                    let pos = this.todos.indexOf(todo);
                },
                restoreTodo: function (todo) {
                   todo.removed= false;
                   this.todos.unshift(todo);
                   let pos =this.recycleBin.indexOf(todo);
                   this.recycleBin.splice(pos,1);
                },
                editdTodo: function (todo) {
                    this.editedTodo = {
                        id: todo.id,
                        title: todo.title
                    }
                },
                editDone: function (todo) {

                    if (todo.title === '') {
                        this.removeTodo(todo)
                    }
                    this.editedTodo = null;
                },
                cancelEdit: function (todo) {
                    todo.title = this.editedTodo.title;
                    this.editedTodo = null
                },
                clearCompleted: function () {
                    if(!confirm('确认清除全部已完成的代办事项?')){
                        return
                    }
                    this.completedTodos.map(todo=>todo.removed=true);
                    this.recycleBin.unshift(...this.completedTodos);
                    this.todos = this.leftTodos;
                },
                clearAll: function () {
                    if(!confirm('确认清除全部待办事项?')){
                        return
                    }
                    this.todos.map(todo=>todo.removed =true);
                    this.recycleBin.unshift(...this.todos);
                    this.todos = []
                }

            },
            directives: {
                focus: {
                    inserted: function (el) {
                        el.focus()
                    }
                }
            },
            computed: {
                emptyChecked: function () {
                    return this.newTodoTitle.length === 0 && this.checkEmpty
                },
                leftTodos: function () {
                    return this.todos.filter(function (todo) {
                        return !todo.completed
                    })
                },
                leftTodosCount: function () {
                    return this.leftTodos.length
                },

                hasRemovedTodo: function () {
                    return !!this.removedTodo
                },
                completedTodos: function () {
                    return this.todos.filter(function (todo) {
                        return todo.completed
                    })
                },
                completedTodosCount: function () {
                    return this.completedTodos.length
                },
                filteredTodos: function () {
                    if (this.intention === 'ongoing') {
                        return this.leftTodos
                    } else if (this.intention === 'completed') {
                        return this.completedTodos
                    } else if (this.intention === 'removed') {
                        return this.recycleBin
                    } else {
                        return this.todos
                    }
                },

            },
        })
    </script>


</body>

</html>